body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #f5f6fa;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 9vw 22px 9vw;
  background: #2e6b37;
  color: #fff;
}
.logo {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
}
.logo img {
  height: 56px;
}
.nav-links {
  display: flex;
  gap: 17px;
}
.nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  padding: 6px 17px;
  border-radius: 6px;
  transition: background .2s;
}
.nav-links a:hover {
  background: #388744;
}